body {
	display: flex;
	justify-content: center;
}

.container {
	width: 538px;
}

.header {
	background: #428AC9;
	border: 2px solid darken(#428AC9, 10%);
	border-radius: 4px;
	color: white;
	height: 80px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 28px;
	padding-left: 15px;
}

.footer {
	background: #C9DEF0;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 2px solid gray;
	border-top: 0px;
}

.submitButton {
	background: #3E82BD;
	color: white;
	border: 2px solid darken(#3E82BD, 10%);
	font-size: 12px;
	padding: 10px;
	margin-left: 15px;
}

#mainForm{
	display: flex;
	flex-direction: column;
	border: 2px solid gray;
	border-top: 0px;
	border-bottom: 0px;
}

#mainForm input {
	display: flex;
	align-content: space-around;
	padding-left: 25px;
	font-size: 12px;
	height: 36px;
	margin: 0px 10px 10px 10px;
}

.fa {
	position: relative;
	top: 28px;
	left: 15px;
	font-size: 10px;
	color: gray;
}

#user-language {
	margin-top: 17px;
	margin-left: 10px;
	margin-right: 10px;

}

#commentsBox {
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	align-content: space-around;
	padding-left: 25px;
	padding-top: 13px;
	font-size: 12px;
}